<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<mvc:view-controller path="/main" view-name="main"/>
	<!-- 위 태그는 MainController의 /main요청에 대한 뷰 응답 처리를 적용한 설정 -->

	<mvc:annotation-driven/>
	
	<mvc:default-servlet-handler/>
	
	<mvc:view-resolvers>
		<mvc:jsp 
		prefix="/WEB-INF/view/"
		suffix=".jsp"/>
	</mvc:view-resolvers>
	
	<!-- 자바 클래스의 어노테이션을 읽어 빈을 자동으로 생성해준다. 
	* base-package 속성  : 지정된 패키지 하위 모두
	@Component
	@Repository
	@Controller
	@Service
	@Alias
	..
	-->
	<context:component-scan base-package="board"/>
</beans>





