<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="sample.HelloController"/>
	<bean class="controller.RegisterController">
		<property name="memberRegisterService" ref="memberRegSvc"/>
	</bean>
	<!-- <bean class="controller.MainController"/> -->
	<!-- MainController는 mvc:view-controller설정으로 대체 -->
	
	<bean class="controller.LoginController">
		<property name="authService" ref="authService"/>
	</bean>
	
	<bean class="controller.LogoutController"/>
	
	<bean class="controller.ChangePwdController">
		<property name="changePasswordService" ref="memberPwdSvc"/>
	</bean>
	
	<bean class="controller.EditHelpController" />
</beans>
